/* You can add global styles to this file, and also import other style files */

html,
body {
    margin: 0;
}

body {
    background-color: #012840;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.component-content {
    margin: 100px auto 100px auto;
}

