  <form [formGroup]='formg' class='component-content'>
    <h1>Crete your poll</h1>

    <mat-form-field class="title" appearance="fill">
      <mat-label>Enter poll title</mat-label>
      <input formControlName='title' matInput #input maxlength="300">
    </mat-form-field>


    <div *ngFor="let option of options.controls; index as i" class="option">

      <mat-form-field appearance="fill">
        <mat-label class="label-option">Option# {{i+1}} </mat-label>
        <input matInput [formControl]='option'>
      </mat-form-field>


      <button mat-mini-fab (click)='removeoption(i)'>
        <i class="demo-icon icon-trash"></i>
      </button>
    </div>

    <div class="btns">

      <button (click)='addoption()' mat-fab class='addbtn'  color='primary'>
        <i class="demo-icon icon-plus"></i>
      </button>
      <mat-checkbox 
      color='primary'
      formControlName="multiple">
      Multiple choices
      </mat-checkbox>
    </div>
    <button [disabled]='!formg.valid'  mat-raised-button color='primary' class='submit' (click)='submit()'>Submit</button>
  </form>
