form {
    h1 {
        color: white;
    }

    background-color: #025159;
    padding: 20px;
    width: 50vw;
    border-radius: 3px;
    margin :100px auto 100px auto;

    mat-form-field {
        width: 100%;
    }


    .option {
        display: flex;
        width: 100%;

        button {
            margin-left: 10px;
            margin-top: 6px;
        }

    }

    .submit {
        margin: 20px 100px 10px 100px;
    }

    .btns {
        display: flex;
        flex-direction: column;
    }
}

mat-label {
    font-size: 19px;
    color: white;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #F2C572 !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #F2C572 !important;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #F2C572 !important;
}