form {
    h1 {
        color: white;
    }

    width: 50vw;
    padding: 20px;
    border-radius: 3px;
    background-color: #025159;

    margin-top: 100px;





    mat-form-field {
        width: 100%;
    }


    .option {
        display: flex;
        width: 100%;

        button {
            margin-left: 10px;
            margin-top: 6px;
        }

    }
}

mat-label {
    color: white;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #F2C572 !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #F2C572 !important;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #F2C572 !important;
}