.component-content {
    width: 60vw;

    h1 {
        color: white;
        text-align: center;
        font-size: 40px;
        color: whitesmoke;
    }
}


@media (max-width: 800px) {

    .component-content {
        width: 95vw;

        h1 {
            font-size: 20px;
        }
    }
}